@page
@model BleepControlPanel.Pages.Favorites.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Favorite[0].date_added.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Favorite[0].User_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Favorite[0].Product_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Favorite) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date_added.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
