@page
@model BleepControlPanel.Pages.Shoppinglists.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shoppinglist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shoppinglist.Creation_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shoppinglist.Creation_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shoppinglist.Date_updated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shoppinglist.Date_updated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shoppinglist.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shoppinglist.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shoppinglist.user)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shoppinglist.user.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Shoppinglist.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
